.header{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    padding: 30px;
    background-color: #1e4862;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    font-family: 'Itim', cursive;
}

.header_left{
display: flex;
color: white;
align-content: center;
margin-right: auto;
}
.header_left>h2{
    display: flex;
    align-items: center;
}
.header_right{
    display: flex;
    justify-self: flex-end;
    align-items: center;
}
.header_right>label{
    padding-right: 15px;
}